.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9efea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

p {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}

.loading {
    font-size: 18px;
    color: #007BFF;
}

.weather-icon {
    width: 100px;
    /* Adjust the size as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-top: 10px;
    /* Space above the icon */
    transition: transform 0.3s ease;
    /* Animation for scaling */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

.weather-icon:hover {
    transform: scale(1.1);
    /* Scale up on hover */
}

.weather-icon:active {
    transform: scale(0.9);
    /* Scale down on click */
}